@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
} */

.payment-box .container {
    margin: 30px auto !important;
}

.payment-box .container .card {
    /* width: 100% !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    background: #fff !important;
    border-radius: 0px !important; */
}

/* body {
    background: #eee
} */



.payment-box .btn.btn-primary {
    background-color: #ddd !important;
    color: black !important;
    box-shadow: none !important;
    border: none !important;
    font-size: 20px !important;
    width: 100% !important;
    height: 100% !important;
}

.payment-box .btn.btn-primary:focus {
    box-shadow: none !important;
}

.payment-box .container .card .img-box {
    width: 80px !important;
    height: 50px !important;
}

.payment-box .container .card img {
    width: 100% !important;
    object-fit: fill !important;
}

.payment-box .container .card .number {
    font-size: 24px !important;
}

.payment-box .container .card-body .btn.btn-primary .fab.fa-cc-paypal {
    font-size: 32px !important;
    color: #3333f7 !important;
}

.payment-box .fab.fa-cc-amex {
    color: #1c6acf !important;
    font-size: 32px !important;
}

.payment-box .fab.fa-cc-mastercard {
    font-size: 32px !important;
    color: red !important;
}

.fab.fa-cc-discover {
    font-size: 32px !important;
    color: orange !important;
}

.payment-box .c-green {
    color: green !important;
}

.payment-box .box {
    height: 40px !important;
    width: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: #ddd !important;
}

.btn.btn-primary.payment {
    background-color: #1c6acf !important;
    color: white !important;
    border-radius: 0px !important;
    height: 50px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-top: 24px !important;
}


.payment-box .form__div {
    height: 50px !important;
    position: relative !important;
    margin-bottom: 24px !important;
}

.payment-box .form-control {
    width: 100% !important;
    height: 45px !important;
    font-size: 14px !important;
    border: 1px solid #DADCE0 !important;
    border-radius: 0 !important;
    outline: none !important;
    padding: 2px !important;
    background: none !important;
    z-index: 1 !important;
    box-shadow: none !important;
}

.payment-box .form__label {
    position: absolute !important;
    left: 16px !important;
    top: 10px !important;
    background-color: #fff !important;
    color: #80868B !important;
    font-size: 16px !important;
    transition: .3s !important;
    text-transform: uppercase !important;
}

.payment-box .form-control:focus+.form__label {
    top: -8px !important;
    left: 12px !important;
    color: #1A73E8 !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    z-index: 10 !important;
}

.payment-box .form-control:not(:placeholder-shown).form-control:not(:focus)+.form__label {
    top: -8px !important;
    left: 12px !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    z-index: 10 !important;
}

.payment-box .form-control:focus {
    border: 1.5px solid #1A73E8 !important;
    box-shadow: none !important;
}


@media screen and (max-width: 360px) {
    .container {
        width: 256px !important;
    }

    .payment-img{
        width: 200px !important;
    }
}
    
