.about-top{
    background-image: url('https://medi-dove.netlify.app/static/media/page-bg.19c1fbc541073bd8ef07.jpg');
    /* height: 300px; */
    background-repeat: no-repeat;
    background-size: cover;
}

.about-bottom{
    background-color: #F4F9FC;
    text-align: left;
    
}


@media screen and (max-width: 420px) {
    
    .about-h1{
        font-size: 5rem !important;
    }
    .about-left img{
        width: 320px;
    }
    .about-bottom{
        text-align: center;
    }
}