a{
    text-decoration: none !important;
}

.nav-links a, .responsive-menu-bar a{
    text-decoration: none !important;
    color: #1F2278 !important;
    font-size: 15px !important;
    font-weight: bold !important;
    padding: 5px !important;
    margin: 5px 10px !important;
}

/* .nav-links a{
    font-size: 20px !important;
} */

a:hover{
    color:#E12454 !important;
}

.user-menu:hover{
    background-color: none !important;
}