.sign-up{
    background-image: url('https://meditro.themetrades.com/react/static/media/img1.815eb17a.jpg');
    /* height: 500px; */
    background-size: cover;
    background-repeat: no-repeat;
}
.social-login-button:hover{
    box-shadow: 0px 0px 10px rgb(150, 150, 150) !important;
}
