.not-found-div{
    background-image: url('https://meditro.themetrades.com/react/static/media/img1.815eb17a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;
    margin: 0 auto;
}