.booking-card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    margin: 30px auto;
}

@media screen and (max-width: 360px) {
    .booking-card{
        width: 230px;
        display: block;
    }
}
    
